.detail {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  /* padding: 30px auto;だとエラーが起きる。 */
  padding: 30px 0;
}
.inner {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.contents {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}

.content_texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.25rem 0;
  font-family: var(--font-hiragino-kaku-gothic-pron);
  color: #333;
  text-align: left;
}

.item_title {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.25rem 0;
  font-family: var(--font-hiragino-kaku-gothic-pron);
  color: #333;
  text-align: left;
}

.content_data {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  padding: 16px 0 16px;
}
.content_data dt {
  width: 25%;
  font-size: 0.875rem;
  font-family: var(--font-hiragino-kaku-gothic-pron);
  color: #333;
  padding: 0.22rem 0;
}

.content_data dd {
  width: 75%;
  font-size: 0.875rem;
  font-family: var(--font-hiragino-kaku-gothic-pron);
  color: #333;
  padding: 0.22rem 0;
}

.content_texts p {
  font-size: 0.875rem;
  font-family: var(--font-hiragino-kaku-gothic-pron);
  color: #333;
  padding: 0.22rem 0;
}

.content_link {
  font-size: 0.875rem;
  font-family: var(--font-hiragino-kaku-gothic-pron);
  color: #333;
  padding: 0.22rem 0;
  text-underline-offset: 0.3rem;
}

.content_img_sp{
    display: none;
}

@media screen and (max-width: 1024px) {
  .detail {
    width: 100%;
  }

  .inner {
    width: 60%;
  }

  .contents {
    flex-direction: column;
    width: 50%;
    row-gap: 25px;

  }

  .content_img_sp {
    display: block;
    width: 150%;
    height: auto;
  }

  .content_img_pc {
    display: none;
  }

  .content_texts {
    row-gap: 20px;
  }
}
