.index_box {
    width: 100%;
    background-color: white;
    height: auto;
    margin: 0 auto;
    /* padding: 30px auto;だとエラーが起きる。 */
    padding: 30px 0;
  }
  
  .inner {
    width: 60%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .inner ol {
    list-style: decimal;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  .inner li {
    font-size: 0.875rem;
    font-family: var(--font-hiragino-kaku-gothic-pron);
    color: #333;
    padding: 0.22rem 0;
  }
  
  .title {
    font-size: 1.125rem;
    font-weight: bold;
    font-family: var(--font-hiragino-kaku-gothic-pron);
    color: #333;
    padding:0.25rem 0;
  }

@media screen and (min-width: 1024px) {
    .index_box {
        width: 1000px;
      }
      
      .inner {
        width: 600px;
      }
      

}